SpongebobBot/config.py
SpongebobBot/*.session
SpongebobBot/*.session-journal
SpongebobBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
SpongebobBot/modules/helper_funcs/temp.txt
SpongebobBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
spongebob.session-journal
updates.txt
*.exe
spongebobPyro
